@page
@model Otus.Teaching.Pcf.Administration.WebHost.Pages.Employees.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Employee.FirstName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Employee.FirstName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Employee.LastName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Employee.LastName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Employee.Email)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Employee.Email)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Employee.Role)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Employee.Role.Name)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Employee.AppliedPromocodesCount)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Employee.AppliedPromocodesCount)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Employee.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
