@page
@model Otus.Teaching.Pcf.GivingToCustomer.WebHost.Pages.Customers.Preferences.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Preference</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Item.Preference" class="control-label"></label>
                <select asp-for="Item.PreferenceId" class="form-control" asp-items="ViewBag.PreferenceId"></select>
                <span asp-validation-for="Item.PreferenceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="../Details" asp-route-id=@Model.Master.Id>Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
