@page
@model Otus.Teaching.Pcf.GivingToCustomer.WebHost.Pages.PromoCodes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Promo code</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Item.Code)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Item.Code)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Item.ServiceInfo)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Item.ServiceInfo)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Item.BeginDate)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Item.BeginDate)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Item.EndDate)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Item.EndDate)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Item.PartnerId)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Item.PartnerId)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Item.Preference)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Item.Preference.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Item.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
