@page
@model Otus.Teaching.Pcf.GivingToCustomer.WebHost.Pages.PromoCodes.IndexModel

@{
    ViewData["Title"] = "Promo codes";
}

<h1>Promo codes</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Items.First().Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.First().ServiceInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.First().BeginDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.First().EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.First().PartnerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.First().Preference)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Items) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeginDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartnerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preference.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
