@page
@model Otus.Teaching.Pcf.GivingToCustomer.WebHost.Pages.Customers.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Item.FirstName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Item.FirstName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Item.LastName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Item.LastName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Item.Email)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Item.Email)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Item.Preferences)
        </dt>
        <dd class="col-sm-9">
            @Model.Item.Preferences?.Count.ToString()
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Item.PromoCodes)
        </dt>
        <dd class="col-sm-9">
            @Model.Item.PromoCodes?.Count.ToString()
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Item.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
