@page
@model Otus.Teaching.Pcf.GivingToCustomer.WebHost.Pages.Customers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Item.FirstName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Item.FirstName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Item.LastName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Item.LastName)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Item.Email)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Item.Email)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Item.Preferences)
        </dt>
        <dd class="col-sm-9">
            @Model.Item.Preferences?.Count.ToString()
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Item.PromoCodes)
        </dt>
        <dd class="col-sm-9">
            @Model.Item.PromoCodes?.Count.ToString()
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Item.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
<hr />
<h4>Preferences</h4>
<p>
    <a asp-page="./Preferences/Create" asp-route-masterId="@Model.Item.Id">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Items.First().Preferences.First().Preference.Name)
        </th>
    </tr>
    </thead>
    <tbody>
    @if (Model.Item.Preferences != null)
    {
        @foreach (var item in Model.Item.Preferences)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Preference.Name)
                </td>
                <td>
                    <a asp-page="./Preferences/Delete" asp-route-masterId="@Model.Item.Id" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    }
    </tbody>
</table>
