@page
@model Otus.Teaching.Pcf.GivingToCustomer.WebHost.Pages.Preferences.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Preference</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Item.Name)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Item.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Item.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
